div {
    background-color: #2d2d2d;
    height: 38px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    color: #ffffff80;
    margin-right: 1.5px;
}

div.active {
    background-color: #1e1e1e;
    color: white;
}

div>.label {
    color: inherit;
    position: relative;
    top: 3px;
    font-family: "Lato";
    font-size: 13px;
}

div>.icon {
    position: relative;
    top: 6px;
    left: -7px;
}

div>.closeBtn {
    all: unset;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: 4px;
    right: -10px;
    visibility: hidden;
    width: 18px;
}

div:hover .closeBtn {
    visibility: visible;
}
